@page "/"
@using AiBlazorApp.Config
@inject AppConfig AppConfig;
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<br>
<p1>AppName: @AppConfig.AppName</p1><br>
<p1>Env: @AppConfig.Environment</p1>



